.navbar-brand{
    margin-left: 20px;
    margin-right: 90px;
}
.nav-link{
    margin-left: 40px;
    font-weight: bold;
}
#log{
    background:red;
    margin-right: 60px;
    color: white;
    border-radius: 40px;
    width: 100px;
}
nav{
    background:white;
    border-bottom: 10px solid white;
    box-shadow: 2px 2px 3px 3px;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0x;
    margin-left: 30px;
}
.grid2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0x;
    margin-left: 30px;
}
.grid3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 30px;
   
}
.grid4{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 30px;
    margin-bottom: 60px;
   
}
.grid5{
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-right: 60px;
   
}
.grid6{
    display: grid;
    grid-template-columns: auto auto ;
    
    margin-bottom: 15px;
    margin-right: 80px;
   
}
.grid7{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-right: 80px;

}