{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/about_us_page_style.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>About Us !</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service' %}">Our Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'project' %}">Projects</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'career' %}">Career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>


              <button class="btn btn-outline-success"  id="log">Login</button>

          </div>
        </div>
      </nav>


      <div class="grid1" >

          <div style="margin-top: 50px; margin-right: 90px;">
<h1> <font style="color:red;">Who </font> We are </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut harum quis ratione labore eveniet eaque eos id, ea libero sit exercitationem laboriosam maiores praesentium
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut harum quis ratione labore eveniet eaque eos id, ea libero sit exercitationem laboriosam
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut harum quis ratione labore eveniet eaque eos id, ea libero sit exercitationem laboriosam
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut harum quis ratione labore eveniet eaque eos id, ea libero sit exercitationem laboriosam
    Lorem ipsum dolor sit amet consectetur. </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam obcaecati tempora ut, asperiores veritatis excepturi rerum. Reprehenderit obcaecati assumenda aperiam, porro qui consequuntur perspiciatis amet. Id velit quibusdam impedit saepe officia. Numquam itaque aut unde voluptates. Sed magnam molestiae nostrum nihil quaerat eaque magni enim itaque dolor soluta, vel, impedit eligendi eum animi quidem aut? Reprehenderit dolores est itaque fugiat aperiam sed saepe, quisquam, autem minima officia incidunt minus,
         delectus recusandae magnam. Omnis error placeat deserunt quaerat. Quam, amet excepturi.</p>

</div>
<div>
    <img src="{% static 'about_us_page_images/4805fcfc-da70-4e7c-a92e-a751ca7f9255.jpg'%}" alt="" style="margin-bottom: 10px;">
    <br>
    <img src="{% static 'about_us_page_images/980d9f62-9f42-47f8-81b8-c842b40d9dfc.jpg'%}"  alt="">
</div>
 <div style="margin-right: 70px; margin-left: 20px;">
     <img src="{% static 'about_us_page_images/e89e1e18-4c02-40cc-9f5d-e370a6d6babc.jpg'%}"  alt="">
 </div>

      </div>

      <div class="grid2" style="margin-top: 30px;">

        <div>
<h1> Our<font style="color:red;"> Vision</font> Is Our <font style="color:red;">Mission</font></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor itaque nesciunt optio est! Odio dicta eos, iusto cum alias esse quisquam quis officia? Dolor ducimus deleniti sunt quae? Dolor amet ad eligendi illum fugit, eveniet officiis! Quas excepturi aut sed quaerat eveniet beatae impedit enim tenetur, asperiores quos delectus molestiae veritatis sequi assumenda magni
    explicabo voluptatem animi ipsum? Sapiente, ullam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet omnis obcaecati, quas dolor excepturi unde exercitationem, quis incidunt ipsum deleniti quam illo aliquid necessitatibus esse suscipit. Nam blanditiis earum odio quidem nemo dolor et laboriosam sit nesciunt voluptatum minus esse, facilis sapiente perspiciatis odit ab facere necessitatibus placeat distinctio quis sed omnis. Temporibus totam alias iure expedita est a nobis, minus, beatae quibusdam quo placeat earum asperiores esse, odio nisi.
     Deserunt inventore animi omnis unde eligendi cupiditate, esse laudantium vitae.</p>
    <img src="{% static 'about_us_page_images/19232540-1163-42c6-a815-4661da6746f0.jpg'%}"  alt="" style="float: right; margin-top: 50px;">
        </div>

        <div style="margin-left: 70px;  margin-right:30px; margin-top: 100px;">
            <img src="{% static 'about_us_page_images/82bc6d2b-9dab-40cb-8df2-3b6126d964cc.jpg'%}"  alt="">
        </div>

        <div style="margin-right: 70px;">
            <img src="{% static 'about_us_page_images/06941802-027a-468d-b5bc-c2b1cbd00d97.jpg'%}"  alt="">
            <br>
            <img src="{% static 'about_us_page_images/0e88eddd-df30-42ca-be89-761780dacb21.jpg'%}"  alt="">
        </div>
      </div>

      <div class="grid3">


          <div>
            <h1>Board Of <font style="color:red;">Directors</font> </h1>
              <img src= "{% static 'about_us_page_images/19121f9b-3c89-498c-a4db-1558137d9b2c.jpg'%}" alt="" style="margin-left: 30px;;">
              <h5 style="margin-left: 50px;">Joe Vuition</h5>

              <h5 style="margin-left: 50px;"><font style="color:red;">Co-Founder</font></h5>
          </div>
          <div style="margin-top: 55px;">
              <img src="{% static 'about_us_page_images/e6cccbfb-7ad2-40a0-9733-23952fbcc965.jpg'%}" alt="">
              <h5 style="margin-left: 10px;">Louis Vittion</h5>

              <h5 style="margin-left: 10px;"><font style="color:red;">Co-Founder</font></h5>
          </div>
          <div style="margin-top: 55px;">
              <img src="{% static 'about_us_page_images/5a778f6a-b650-4c70-8b07-b11118682f3a.jpg'%}" alt="">
              <h5 style="margin-left: 10px;">Snopp D.</h5>

              <h5 style="margin-left: 10px;"><font style="color:red;">Executive</font></h5>
          </div>
          <div style="margin-right: 70px;">
            <h3 style="font-size: 50px;  "> <font style="color:red;">.</font>..</h3>
              <img src="{% static 'about_us_page_images/3782090f-ee39-4662-be6c-08fe65861f82.jpg'%}"  alt="">
              <h5 style="margin-left: 10px;">Lisa Lattle</h5>

              <h5 style="margin-left: 10px;"><font style="color:red;">Non-Executive</font></h5>
          </div>
      </div>
<div class="grid5">
      <div style="margin-bottom: 10px; margin-right: 60px; ">
      <h1>Our <font style="color:red;">Team</font>Members </h1>
      </div>
      <div>
      <h3 style="font-size: 50px;  float: right;   "> <font style="color:red;">.</font>..</h3>

      </div>
</div>
      <div class="grid4">


        <div>

            <img src="{% static 'about_us_page_images/8577a587-061a-4cb9-9586-8e9448b82f78.jpg'%}"  alt="" style="margin-left: 30px;;">
            <h5 style="margin-left: 50px;">Joe Vuition</h5>

            <h5 style="margin-left: 50px;"><font style="color:red;">Sr. Developer</font></h5>
        </div>
        <div style="">
            <img src="{% static 'about_us_page_images/6ad947ec-12fc-49fd-8a53-8038a12b254c.jpg'%}"  alt="">
            <h5 style="margin-left: 10px;">Louis Vulitton</h5>

            <h5 style="margin-left: 10px;"><font style="color:red;">Sr. UI/UX Designer</font></h5>
        </div>
        <div style="">
            <img src="{% static 'about_us_page_images/d3f802f8-912b-480b-8327-00825b1cc04d.jpg'%}"  alt="">
            <h5 style="margin-left: 10px;">Snopp D.</h5>

            <h5 style="margin-left: 10px;"><font style="color:red;">Sr. Graphic Designer</font></h5>
        </div>
        <div style="">
            <img src="{% static 'about_us_page_images/93acf0b3-5da7-4b03-956c-05dbefd17069.jpg'%}"  alt="">
            <h5 style="margin-left: 10px;">Lisa Lattle</h5>

            <h5 style="margin-left: 10px;"><font style="color:red;">Sr. HR</font></h5>
        </div>
        <div style="">

            <img src="{% static 'about_us_page_images/4c064389-2492-4f9d-90c0-ba6e91749705.jpg'%}"  alt="">
            <h5 style="margin-left: 10px;">Roman</h5>

            <h5 style="margin-left: 10px;"><font style="color:red;">Sr. BDE</font></h5>
        </div>
    </div>
<div class="grid6">
    <div>
    <h1>Contact <font style="color:red;"> Us</font></h1>
    <img src="{% static 'about_us_page_images/520a2092-1896-462f-b475-beb22b8a2317.jpg'%}"  alt="">
    </div>
    <div style="border: 5px solid white; box-shadow:10px 10px 10px 8px; padding-left: 15px;">
<h3>Send <font style="color:red;"> Queries </font> Today!</h3>
<form action="">
    <label for="" style="width: 600px; margin-bottom: 25px; font-weight: bold;">Name</label>
    <br>
    <input type="text" style="width: 600px; box-shadow: 1px 3px 3px 1px; border-radius: 20px; margin-bottom: 20px; height: 40px;">
    <br>
    <label for=""style="width: 600px; margin-bottom: 25px; font-weight: bold;"> Email</label>
    <br>
    <input type="email"style="width: 600px; box-shadow: 1px 3px 3px 1px; border-radius: 20px; margin-bottom: 20px;height: 40px;">
    <br>
    <label for=""style="width: 600px; margin-bottom: 25px;font-weight: bold;"> Phone</label>
    <br>
    <input type="number"style="width: 600px; box-shadow: 1px 3px 3px 1px; border-radius: 20px; margin-bottom: 20px; height: 40px;">
    <br>
    <label for=""style="width: 600px; margin-bottom: 25px;font-weight: bold;">Massage</label>
    <br>
    <input type="text"style="width: 600px; box-shadow: 1px 3px 3px 1px; border-radius: 10px; margin-bottom: 20px; height: 90px;">
    <br>
    <button type="submit" style="margin-top: 50px; height: 40px; width: 160px; margin-left: 100px; border-radius: 20px; background: red; color: white;"> Submit</button>
</form>
    </div>
</div>

<div class="grid7">
    <div>
        <h2><font style="color:red;">Contact</font></h2>
        <h6>Ecommerce Platfrom</h6>
        <h6>like never before</h6>
        <h6>+915555555555</h6>
        <h2><font style="color:red; margin-top: 10px; margin-bottom: 19px;">Address</font></h2>
        <h6>Ecommerce Platfrom</h6>
        <h6>like never before</h6>
    </div>
    <div>
        <h2><font style="color:red;">Menu</font></h2>
        <h6>Home</h6>
        <h6>About Us</h6>
        <h6>Our services</h6>
        <h6>Clients</h6>
        <h6>Project</h6>
        <h6>career</h6>
        <h6>Contact</h6>
    </div>
    <div>
        <h2><font style="color:red;">Services</font></h2>
        <h6>Web Developments</h6>
        <h6>Mobile Developments</h6>
        <h6>UI/UX Design</h6>
        <h6>E- commerce</h6>
        <h6>Digital Marketing</h6>
        <h6>Bussiness Consultion</h6>
        <h6>Traning & internship</h6>
    </div>
    <div>
        <h2><font style="color:red;">About</font></h2>
        <h6>Who we are </h6>
        <h6>Our Vision</h6>
    </div>
    <div>
        <h2><font style="color:red;">Fallow Us</font></h2>
        <p style="font-size: 40px;">
        <i class="bi bi-facebook" ></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <br>
        <i class="bi bi-linkedin"></i>
        </p>

    </div>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>