{% load static %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,intial-scale=1" >
    <title>CAREER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/career.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="box">
	</div>
	<div class="rec1">
		<div>
			<a href="{% url 'index' %}" class="logo">Logo</a>
		</div>
		<div>
			<a href="{% url 'about' %}" class="aboutus">About Us</a>
		</div>
		<div>
			<a href="{% url 'service' %}" class="ourservices">Our Services</a>
		</div>
		<div>
			<a href="{% url 'project' %}" class="projects">Projects</a>
		</div>
		<div>
			<a href="{% url 'career' %}" class="career">Career</a>
		</div>
		<div>
			<a href="{% url 'contact' %}" class="contact">Contact</a>
		</div>
		<div class="srec1">
			<button onclick="Login" class="login">Login</button>
		</div>
	</div>
	<div class="p1">
		<text>IMAGINE,<font color="red"> DESIGN</font> AND<font color="red"> BUILD</font> NEW TOMORROW</text>
	</div>
	<div class="p2">
		<p>We Understand That Not All Talent Is Created Equally - And That The Best Is Often A Lot Better Than The Rest.We Also Know That The Need For (Sustainable) Speed Has Never Been Greater.At The Heart Of Extraordinary Impact Lies A Culture Of Career-Integrated Hyper Learning And Extraordinary Relationships.</p>
	</div>
	<div>
		<img src="{% static 'career_page_images/1.png' %}" class="img1">
	</div>
	<div class="box2">
	</div>
	<div>
		<img src="{% static 'career_page_images/2.png' %}" class="img2">
	</div>
	<div>
		<img src="{% static 'career_page_images/3.png' %}" class="img3">
	</div>
	<div class="rec2">
    	<text class="p3">EXPLORE</text>
    </div>
    <div class="rec3">
    	<text class="p4">Search By Job Keyword</text>
    </div>
    <div class="rec4">
    	<text class="p5">Search By Job Location</text>
    </div>
    <div>
    	<img src="{% static 'career_page_images/4.png' %}" class="img4">
    </div>
    <div>
    	<img src="{% static 'career_page_images/5.png' %}" class="img5">
    </div>
    <div class="p6">
    	<text>Come <font color="red">Find</font> Your<font color="red"> Best</font> Self</text>
    </div>
    <div class="p7">
    	<text><p>We Understand That Not All Talent is Created Equally - And That The Best is Other A Lot Better Than The rest. we also know that the need for (sustainable) speed has never been greater. at the heart of extraordinary impact lies a culture of career-integrated hyper learning and extraordinary relationships we understand that not all talent is created equality - greater. at the heart of extraordinary impact lies a culture of career-intigrated hyper learning and extraordinary relationships<br>
    		We Understand That Not All Talent is Created Equally - And That The Best is Other A Lot Better Than The rest. we also know that the need for (sustainable) speed has never been greater. at the heart of extraordinary impact lies a culture of career-integrated hyper learning and extraordinary relationships </p></text>
    </div>
    <div class="p11">
    	<text><p>Reviews & <font color="red">Ratings</font></p></text>
    </div>
     <div>
    	<img src="{% static 'career_page_images/6.png' %}" class="img6">
    </div>
    <div class="rec7">
    	<text class="p10" align="center"><h1>Leap/Live</h1><p>Live And Breadthe Technology With Its Impact Spanning Generations</p><br><p>
    	we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p><br><p>we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p><br><p>we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p></text>
    	</text>
    </div>
    <div class="rec6">
    	<text class="p9" align="center"><h1>Lead</h1><p>Be The Outlier Out To Change The World</p><br><p>
    	we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p><br><p>we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p><br><p>we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p></text>
    	</text>
    </div>
    <div class="rec5">
    	<text class="p8" align="center"><h1>Learn</h1><p> Push the boundaries of your horizon everyday</p><br><p>
    	we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p><br><p>we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p><br><p>we understand that not all talent is created equally- and that the best is know that the need for(sustainable) speed has never been greater.</p></text>
    	</text>
    </div>
    <div>
    	<text class="t16">Contact<font color="Red"> Us</font>
    </div>
    <div class="rec9"> 	
    	<img src="{% static 'career_page_images/10.png' %}" class="im10">
    </div>
    <div class="rec10">
    	<text style="align:center" class="t17">Send<font color="Red"> Queries</font> Today!</text>
    	<label class="lb1">Name</label><br>
    	<input type="text" name="Name" class="in1" size="25">
    	<label class="lb2">Email</label><br>
    	<input type="text" name="Name" class="in2" size="25">
    	<label class="lb3">Phone</label><br>
    	<input type="text" name="Name" class="in3" size="25">
    	<label class="lb4">Message</label><br>
    	<input type="text" name="Name" class="in4" size="25">
    </div>
    <div>
    	<input type="submit" name="submit" value="Submit" class="rec11">
    </div>
    <div class="t18">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Contact</li><br></font>
            <font color="#7E7E7E" size=5px><li>Ecommerce platform</li>
            <li>like never before</li><br>
            <li>+915555555555</li><br>
            <font color="#FF495F" class="f1"><li>Address</li><br></font>
            <li>Ecommerce platform</li>
            <li>like never before</li></font>
        </ul>
    </div>
    <div class="t19">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Menu</li></font>
            <font color="#7E7E7E" size=5px><li>Home</li>
            <li>About Us</li>
            <li>Our Service</li>
            <li>Clients</li>
            <li>Project</li>
            <li>Career</li>
            <li>Contact</li></font>
        </ul>
    </div>
    <div class="t20">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Services</li></font>
            <font color="#7E7E7E" size=5px><li>Web Developments</li>
            <li>Mobile App Development</li>
            <li>UI/UX Design</li>
            <li>Ecommerce</li>
            <li>Digital Marketing</li>
            <li>Business Consultation</li>
            <li>Training & Internship</li></font>
        </ul>
    </div>
    <div class="t21">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>About</li></font>
            <font color="#7E7E7E" size=5px><li>Who we are</li>
            <li>Our Vision</li></font>
        </ul>
    </div>
    <div class="t22">
            <font color="#FF495F" class="f1">Follow us</font><br><br>
            <font size=6px><a href="#" class="fa fa-facebook"></a>&nbsp&nbsp
            <a href="#" class="fa fa-twitter"></a>&nbsp&nbsp
            <a href="#" class="fa fa-instagram"></a><br><br>
            <a href="#" class="fa fa-linkedin"></a></font>
      </div>
     </text>
 </div>
</body>
</html>
    