{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width,intial-scale=1" >
    <title>Our services</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/service_style.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
		 <div class="rec1">
		 	<div>
		 		<a href="{% url 'index' %}" class="logo">Logo</a>
		 	</div> 
		 	<div>
		 		<a href="{% url 'about' %}" class="aboutus">About Us</a>
		 	</div>
		 	<div>
		 		<a href="{% url 'service' %}" class="ourservices"><font color="Red">Our Services</font></a>
		 	</div>
		 	<div>
		 		<a href="{% url 'project' %}" class="projects">Projects</a>
		 	</div>
		 	<div>
		 		<a href="{% url 'career' %}" class="career">Career</a>
		 	</div>
		 	<div>
		 		<a href="{% url 'contact' %}" class="contact">Contact</a>
		 	</div>
		 	<div class="srec1">
			<button onclick="Login" class="login">Login</button>
			</div>
		</div>
		<div>
			<text class="t1"><p>Website <font color="Red"> Development</font><br> Services</p></text>
		</div>
		<div>
			<img src="{% static 'service_page_images/star2.png' %}" class="s1">
		</div>
		<div>
			<text class="t2">We are a one-stop-shop for all website development<br> services. By using cutting-edge technologies our in-house<br> team of developers delivers intuitive and highly agile <br>websites. By keeping your vision in focus we bring out a <br>digital transformation for your business that helps you <br>further broaden your growth. We cover all types of web <br>development solutions from creating plain text pages to<br> complex web-based applications, social network <br>applications, and electronic business applications.</text>
		</div>
		<div class="rec8">
        	<img src="{% static 'service_page_images/dlu.png' %}">
        </div>
		<div>
			<img src="{% static 'service_page_images/1,2.png' %}" class="im1">
		</div>
		<div class="rec2">
	    	<text class="sm1">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}"  class="vc1">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va1">
        </div>
        <div class="rec7">
        	<img src="{% static 'service_page_images/dld.png' %}">
        </div>
		<div>
			<text class="t3"><p><font color="Red">UI</font>/UX  Design Services</p></text>
		</div>
		<div>
			<text class="t4">We are a one-stop-shop for all website development <br>services. By using cutting-edge technologies our in-<br>house team of developers delivers intuitive and <br>highly agile websites. By keeping your vision in focus <br>we bring out a digital transformation for your <br>business that helps you further broaden your growth.<br> We cover all types of web development solutions <br>from creating plain text pages to complex web-<br>based applications, social network applications, and <br>electronic business applications.
			</text>
		</div>
		<div>
			<img src="{% static 'service_page_images/3,4.png' %}" class="im2">
		</div>
		<div class="rec3">
	    	<text class="sm2">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc2">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va2">
        </div>
		<div>
			<img src="{% static 'service_page_images/star2.png' %}" class="s2">
		</div>
		<div>
			<text class="t5"><p>E- <font color="Red">Commerce</font> Services</p></text>
		</div>
		<div>
			<text class="t6">Our state-of-the-art ECommerce Website Development <br>practice enables you to witness an expansion of your <br>Ecommerce platform like never before, with an even higher <br>graph of sales.
			</text>
		</div>
		<div class="rec4">
	    	<text class="sm3">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc3">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va3">
        </div>
		<div>
			<img src="{% static 'service_page_images/5,6.png' %}" class="im3">
		</div>
		<div>
			<text class="t7"><p>Digital<font color="Red"> Marketing</font></p></text>
		</div>
		<div>
			<text class="t8">We are a one-stop-shop for all website development <br>services. By using cutting-edge technologies our in-<br>house team of developers delivers intuitive and <br>highly agile websites. By keeping your vision in focus <br>we bring out a digital transformation for your<br> business that helps you further broaden your growth.<br> We cover all types of web development solutions <br>from creating plain text pages to complex web-<br>based applications, social network applications, and<br> electronic business applications.
			</text>
		</div>
		<div>
			<img src="{% static 'service_page_images/7,8.png' %}" class="im4">
		</div>
		<div class="rec5">
	    	<text class="sm4">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc4">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va4">
        </div>
        <div></div>

		<div>
			<text class="t9"><p><font color="Red">Business </font>Consultation</p></text>
		</div>
		<div>
			<text class="t10">Our state-of-the-art ECommerce Website Development <br>practice enables you to witness an expansion of your <br>Ecommerce platform like never before, with an even higher <br>graph of sales.
			</text>
		</div>
		<div>
			<img src="{% static 'service_page_images/9,10.png' %}" class="im5">
		</div>
		<div class="rec6">
	    	<text class="sm5">See More</text>
	    	<img src="{% static 'service_page_images/veccir.png' %}" class="vc5">
	    	<img src="{% static 'service_page_images/vecarr.png' %}" class="va5">
        </div>
        <div>
        	<img src="{% static 'service_page_images/11.png' %}"class="im11">
        	<text class="t11">Training & Internship</text>
        </div>
        <div>
			<text class="t16">Contact<font color="Red"> Us</font></text>
	    </div>
	    <div class="rec9"> 	
	    	<img src="{% static 'service_page_images/12.png' %}" class="im10">
	    </div>
        <div class="rec10">
    	<text style="align:center" class="t17">Send<font color="Red"> Queries</font> Today!</text>
    	<label class="lb1">Name</label><br>
    	<input type="text" name="Name" class="in1" size="25">
    	<label class="lb2">Email</label><br>
    	<input type="text" name="Name" class="in2" size="25">
    	<label class="lb3">Phone</label><br>
    	<input type="text" name="Name" class="in3" size="25">
    	<label class="lb4">Message</label><br>
    	<input type="text" name="Name" class="in4" size="25">
    	</div>
    <div>
    	<input type="submit" name="submit" value="Submit" class="rec11">
    </div>
        <div class="t18">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Contact</li><br></font>
            <font color="#7E7E7E" size=5px><li>Ecommerce platform</li>
            <li>like never before</li><br>
            <li>+915555555555</li><br>
            <font color="#FF495F" class="f1"><li>Address</li><br></font>
            <li>Ecommerce platform</li>
            <li>like never before</li></font>
        </ul>
    </div>
    <div class="t19">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Menu</li></font>
            <font color="#7E7E7E" size=5px><li>Home</li>
            <li>About Us</li>
            <li>Our Service</li>
            <li>Clients</li>
            <li>Project</li>
            <li>Career</li>
            <li>Contact</li></font>
        </ul>
    </div>
    <div class="t20">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Services</li></font>
            <font color="#7E7E7E" size=5px><li>Web Developments</li>
            <li>Mobile App Development</li>
            <li>UI/UX Design</li>
            <li>Ecommerce</li>
            <li>Digital Marketing</li>
            <li>Business Consultation</li>
            <li>Training & Internship</li></font>
        </ul>
    </div>
    <div class="t21">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>About</li></font>
            <font color="#7E7E7E" size=5px><li>Who we are</li>
            <li>Our Vision</li></font>
        </ul>
         </div>
    <div class="t22">
            <font color="#FF495F" class="f1">Follow us</font><br><br>
		    <font size=6px><a href="#" class="fa fa-facebook"></a>&nbsp&nbsp
            <a href="#" class="fa fa-twitter"></a>&nbsp&nbsp
            <a href="#" class="fa fa-instagram"></a><br><br>
            <a href="#" class="fa fa-linkedin"></a></font>
	</div>
</body>
</html>