{% load static %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,intial-scale=1" >
    <title>LOGO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="s1">
		<img src="{% static 'project_page_images/star1.png' %}">
	</div>
	<div class="rec1">
		<div>
			<a href="{% url 'index' %}" class="logo">Logo</a>
		</div>
		<div>
			<a href="{% url 'about' %}" class="aboutus">About Us</a>
		</div>
		<div>
			<a href="{% url 'service' %}" class="ourservices">Our Services</a>
		</div>
		<div>
			<a href="{% url 'project' %}" class="projects">Projects</a>
		</div>
		<div>
			<a href="{% url 'career' %}" class="career">Career</a>
		</div>
		<div>
			<a href="{% url 'contact' %}" class="contact">Contact</a>
		</div>
		<div class="srec1">
			<button onclick="Login" class="login">Login</button>
		</div>
	</div>
	<div>
		<text class="p1">Our <font color="Red">Projects</font></text>
	</div>
	<div>
		<text class="p2">Furniture.<font color="Red">com</font></text>
	</div>
	<div>
		<text class="p3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam nunc malesuada posuere a imperdiet. Lectus pharetra urna habitant nunc sed maecenas faucibus. Aliquam ornare pretium pulvinar cursus dignissim at a at commodo. Tristique sed enim dolor augue vel. Congue eu tortor magna in eu tristique in sit condimentum. Mi volutpat accumsan non arcu morbi consequat id sit. Nisl eu sed velit ut a. Suscipit justo sagittis ut placerat tortor erat commodo.</text>
	</div>
	<div>
		<img src="{% static 'project_page_images/fur.png' %}" class="furniture">
	</div>	
    <div class="rec2">	
		<div>
			<img src="{% static 'project_page_images/sch.png' %}" class="school">
		</div>
		<div>
			<text class="p4">DPSchool.<font color="Red">com</font></text>
		</div>
		<div>
		    <text class="p5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam nunc malesuada posuere a imperdiet. Lectus pharetra urna habitant nunc sed maecenas faucibus. Aliquam ornare pretium pulvinar cursus dignissim at a at commodo. Tristique sed enim dolor augue vel. Congue eu tortor magna in eu tristique in sit condimentum. Mi volutpat accumsan non arcu morbi consequat id sit. Nisl eu sed velit ut a. Suscipit justo sagittis ut placerat tortor erat commodo.</text>
		</div>
		<div class="srec2">
			<text class="visitsite">visitsite</text>
		</div>	
	</div>
	<div>
		<img src="{% static 'project_page_images/2.jpg' %}" class="nature">
	</div>
	<div>
		<text class="p6">Nature.<font color="Red">com</font></text>
	</div>
	<div>
	    <text class="p7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam nunc malesuada posuere a imperdiet. Lectus pharetra urna habitant nunc sed maecenas faucibus. Aliquam ornare pretium pulvinar cursus dignissim at a at commodo. Tristique sed enim dolor augue vel. Congue eu tortor magna in eu tristique in sit condimentum. Mi volutpat accumsan non arcu morbi consequat id sit. Nisl eu sed velit ut a. Suscipit justo sagittis ut placerat tortor erat commodo.</text>
	</div>
	<div class="srec3">
			<text class="visitsite">visitsite</text>
	</div>	
	<div class="rec3">	
		<div>
			<img src="{% static 'project_page_images/3.jpg' %}" class="crypto">
		</div>
		<div>
			<text class="p4"><font color="Red">Crypto</font>Currency</text>
		</div>
		<div>
		    <text class="p5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam nunc malesuada posuere a imperdiet. Lectus pharetra urna habitant nunc sed maecenas faucibus. Aliquam ornare pretium pulvinar cursus dignissim at a at commodo. Tristique sed enim dolor augue vel. Congue eu tortor magna in eu tristique in sit condimentum. Mi volutpat accumsan non arcu morbi consequat id sit. Nisl eu sed velit ut a. Suscipit justo sagittis ut placerat tortor erat commodo.</text>
		</div>
		<div class="srec2">
			<text class="visitsite">visitsite</text>
		</div>	
	</div>
	<div class="t1">
		<text><font color="Red">Testimonals</font> From Our<font color="Red"> Clients</font></text>
	</div>
	<div>
		<img src="{% static 'project_page_images/testimonals.png' %}" class="testimonal">
	</div>
	<div>
		<img src="{% static 'project_page_images/brand.png' %}" class="brand">
	</div>
	
  <div>
	  <text class="t16">Contact<font color="Red"> Us</font></text>
    </div>
    <div class="rec9"> 	
    	<img src="{% static 'project_page_images/10.png' %}" class="im10">
    </div>
	<div class="rec10">
    	<text style="align:center" class="t17">Send<font color="Red"> Queries</font> Today!</text>
    	<label class="lb1">Name</label><br>
    	<input type="text" name="Name" class="in1" size="25">
    	<label class="lb2">Email</label><br>
    	<input type="text" name="Name" class="in2" size="25">
    	<label class="lb3">Phone</label><br>
    	<input type="text" name="Name" class="in3" size="25">
    	<label class="lb4">Message</label><br>
    	<input type="text" name="Name" class="in4" size="25">
    </div>
    <div>
    	<input type="submit" name="submit" value="Submit" class="rec11">
    </div>
    </body>
        <div class="t18">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Contact</li><br></font>
            <font color="#7E7E7E" size=5px><li>Ecommerce platform</li>
            <li>like never before</li><br>
            <li>+915555555555</li><br>
            <font color="#FF495F" class="f1"><li>Address</li><br></font>
            <li>Ecommerce platform</li>
            <li>like never before</li></font>
        </ul>
    </div>
    <div class="t19">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Menu</li></font>
            <font color="#7E7E7E" size=5px><li>Home</li>
            <li>About Us</li>
            <li>Our Service</li>
            <li>Clients</li>
            <li>Project</li>
            <li>Career</li>
            <li>Contact</li></font>
        </ul>
    </div>
    <div class="t20">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>Services</li></font>
            <font color="#7E7E7E" size=5px><li>Web Developments</li>
            <li>Mobile App Development</li>
            <li>UI/UX Design</li>
            <li>Ecommerce</li>
            <li>Digital Marketing</li>
            <li>Business Consultation</li>
            <li>Training & Internship</li></font>
        </ul>
    </div>
    <div class="t21">
        <ul class="no-bullets">
            <font color="#FF495F" class="f1"><li>About</li></font>
            <font color="#7E7E7E" size=5px><li>Who we are</li>
            <li>Our Vision</li></font>
        </ul>
         </div>
    <div class="t22">
            <font color="#FF495F" class="f1">Follow us</font><br><br>
		    <font size=6px><a href="#" class="fa fa-facebook"></a>&nbsp&nbsp
            <a href="#" class="fa fa-twitter"></a>&nbsp&nbsp
            <a href="#" class="fa fa-instagram"></a><br><br>
            <a href="#" class="fa fa-linkedin"></a></font>
	</div>

			